# Pymaceuticals Inc.

## Analysis

In [93]:
#Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [94]:
#Path to csv files
mouse_metadata_path = "Resources/Mouse_metadata.csv"
study_results_path = "Resources/Study_results.csv"

#Read csv files
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

#combine two files into one dataset
Combined_data = pd.merge(study_results, mouse_metadata, how="left",on=["Mouse ID","Mouse ID"])
#Display top 5 results
Combined_data.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25

In [95]:
Combined_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1893 entries, 0 to 1892
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Mouse ID            1893 non-null   object
 1   Timepoint           1893 non-null   int64
 2   Tumor Volume (mm3)  1893 non-null   float64
 3   Metastatic Sites    1893 non-null   int64
 4   Drug Regimen        1893 non-null   object
 5   Sex                 1893 non-null   object
 6   Age_months          1893 non-null   int64
 7   Weight (g)          1893 non-null   int64
dtypes: float64(1), int64(4), object(3)
memory usage: 133.1+ KB

In [96]:
#count total number of mice not including duplicates
Mouse_count= len(Combined_data["Mouse ID"].unique())
Mouse_count

249

In [97]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
Duplicate_Mouse_ID= Combined_data.loc[Combined_data.duplicated(subset=["Mouse ID", "Timepoint"]),"Mouse ID"].unique()
Duplicate_Mouse_ID

array(['g989'], dtype=object)

In [98]:
#Pulling duplicate Mouse ID (g989) data
Duplicate_df=Combined_data.loc[Combined_data["Mouse ID"]=="g989",:]
Duplicate_df

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
107,g989,0,45.000000,0,Propriva,Female,21,26
137,g989,0,45.000000,0,Propriva,Female,21,26
329,g989,5,48.786801,0,Propriva,Female,21,26
360,g989,5,47.570392,0,Propriva,Female,21,26
620,g989,10,51.745156,0,Propriva,Female,21,26
681,g989,10,49.880528,0,Propriva,Female,21,26
815,g989,15,51.325852,1,Propriva,Female,21,26
869,g989,15,53.442020,0,Propriva,Female,21,26
950,g989,20,55.326122,1,Propriva,Female,21,26
1111,g989,20,54.657650,1,Propriva,Female,21,26
1195,g989,25,56.045564,1,Propriva,Female,21,26
1380,g989,30,59.082294,1,Propriva,Female,21,26
1592,g989,35,62.570880,2,Propriva,Female,21,26

In [99]:
#set Mouse ID as index to drop duplicate Mouse ID g989
clean_df=Combined_data.set_index("Mouse ID")
clean_df

,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
Mouse ID,,,,,,,
b128,0,45.000000,0,Capomulin,Female,9,22
f932,0,45.000000,0,Ketapril,Male,15,29
g107,0,45.000000,0,Ketapril,Female,2,29
a457,0,45.000000,0,Ketapril,Female,11,30
c819,0,45.000000,0,Ketapril,Male,21,25
...,...,...,...,...,...,...,...
r944,45,41.581521,2,Capomulin,Male,12,25
u364,45,31.023923,3,Capomulin,Male,18,17
p438,45,61.433892,1,Ceftamin,Female,11,26
x773,45,58.634971,4,Placebo,Female,21,30
b879,45,72.555239,2,Stelasyn,Female,4,26

In [100]:
#Dropping duplicate mouse ID g989 altogether from dataframe
clean_df=clean_df.drop("g989")
clean_df

,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
Mouse ID,,,,,,,
b128,0,45.000000,0,Capomulin,Female,9,22
f932,0,45.000000,0,Ketapril,Male,15,29
g107,0,45.000000,0,Ketapril,Female,2,29
a457,0,45.000000,0,Ketapril,Female,11,30
c819,0,45.000000,0,Ketapril,Male,21,25
...,...,...,...,...,...,...,...
r944,45,41.581521,2,Capomulin,Male,12,25
u364,45,31.023923,3,Capomulin,Male,18,17
p438,45,61.433892,1,Ceftamin,Female,11,26
x773,45,58.634971,4,Placebo,Female,21,30
b879,45,72.555239,2,Stelasyn,Female,4,26

In [101]:
#Reset index
clean_df_final= clean_df.reset_index(drop=False)
clean_df_final.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25

In [102]:
#Checking mice count 
Final_Mouse_count= len(clean_df_final["Mouse ID"].unique())
Final_Mouse_count

248

## Summary Statistics

In [173]:
#Group data by Drug name
Summary_stats_df = clean_df_final.groupby("Drug Regimen")

#Calculated mean, median, variance, standard deviation and sem for each drug
#renamed all series to better reflect data
Average_tumor=Summary_stats_df["Tumor Volume (mm3)"].mean()
Average_tumor.rename("Tumor Volume (mm3) mean", inplace=True)
Median_tumor=Summary_stats_df["Tumor Volume (mm3)"].median()
Median_tumor.rename("Tumor Volume (mm3) median", inplace=True)
var_tumor=Summary_stats_df["Tumor Volume (mm3)"].var()
var_tumor.rename("Tumor Volume (mm3) var", inplace=True)
sdev_tumor=Summary_stats_df["Tumor Volume (mm3)"].std()
sdev_tumor.rename("Tumor Volume (mm3) std", inplace=True)
SEM_tumor=Summary_stats_df["Tumor Volume (mm3)"].sem()
SEM_tumor.rename("Tumor Volume (mm3) Std. Err.", inplace=True)

Drug Regimen
Capomulin    0.329346
Ceftamin     0.469821
Infubinol    0.492236
Ketapril     0.603860
Naftisol     0.596466
Placebo      0.581331
Propriva     0.544332
Ramicane     0.320955
Stelasyn     0.573111
Zoniferol    0.516398
Name: Tumor Volume (mm3) Std. Err., dtype: float64

In [174]:
#Merge above results into one DataFrame
Merge1= pd.merge(Average_tumor, Median_tumor, on="Drug Regimen")
Merge2=pd.merge(Merge1, var_tumor, on="Drug Regimen")
Merge3=pd.merge(Merge2, sdev_tumor, on="Drug Regimen")
Merge4=pd.merge(Merge3, SEM_tumor, on="Drug Regimen")

Summary_table= Merge4
Summary_table

,Tumor Volume (mm3) mean,Tumor Volume (mm3) median,Tumor Volume (mm3) var,Tumor Volume (mm3) std,Tumor Volume (mm3) Std. Err.
Drug Regimen,,,,,
Capomulin,40.675741,41.557809,24.947764,4.994774,0.329346
Ceftamin,52.591172,51.776157,39.290177,6.268188,0.469821
Infubinol,52.884795,51.820584,43.128684,6.567243,0.492236
Ketapril,55.235638,53.698743,68.553577,8.279709,0.603860
Naftisol,54.331565,52.509285,66.173479,8.134708,0.596466
Placebo,54.033581,52.288934,61.168083,7.821003,0.581331
Propriva,52.320930,50.446266,43.852013,6.622085,0.544332
Ramicane,40.216745,40.673236,23.486704,4.846308,0.320955
Stelasyn,54.233149,52.431737,59.450562,7.710419,0.573111
Zoniferol,53.236507,51.818479,48.533355,6.966589,0.516398

In [175]:
#Displaying mean,median, variance, standard deviation, sem using aggregation method
Summary_stats_df["Tumor Volume (mm3)"].agg(["mean","median", "var", "std", "sem"])

                   mean     median        var       std       sem
Drug Regimen
Capomulin     40.675741  41.557809  24.947764  4.994774  0.329346
Ceftamin      52.591172  51.776157  39.290177  6.268188  0.469821
Infubinol     52.884795  51.820584  43.128684  6.567243  0.492236
Ketapril      55.235638  53.698743  68.553577  8.279709  0.603860
Naftisol      54.331565  52.509285  66.173479  8.134708  0.596466
Placebo       54.033581  52.288934  61.168083  7.821003  0.581331
Propriva      52.320930  50.446266  43.852013  6.622085  0.544332
Ramicane      40.216745  40.673236  23.486704  4.846308  0.320955
Stelasyn      54.233149  52.431737  59.450562  7.710419  0.573111
Zoniferol     53.236507  51.818479  48.533355  6.966589  0.516398